<template>
    <div>
        <div class="text-white text-center text-6xl" v-if="isLoading">
            <i class="fa fa-spinner fa-spin fa-fw"></i>
        </div>
        <div v-if="!isLoading">
            <h4 class="text-xl mb-3 mx-3 text-white pb-3 px-2 border-b border-gray-700">Bands</h4>
            <ul class="text-white mx-3 px-3">
                <li v-for="(band, index) in bands" class="mb-2 flex" v-bind:key="index">
                    <span class="mr-2"><i class="fa fa-fw fa-music" aria-hidden="true"></i></span>
                    <a :href="`/profile/${band.id}`" class="hover:underline mr-auto">{{ band.name }}</a>
                    <a :href="`/delete-band/${band.id}`" class="hover:text-red-600 smooth"><i class="fa fa-fw fa-close" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            axios.get('/bands').then(res => {
                this.bands = res.data;
                this.isLoading = false;
            })
        },
        data: function () {
            return {
                bands: ``,
                isLoading: true
            }
        }
    }
</script>
