<template>
    <div>
      <div class="text-white text-center text-6xl" v-if="isLoading">
        <i class="fa fa-spinner fa-spin fa-fw"></i>
      </div>
      <ul class="flex flex-col mt-5 text-white" v-if="!isLoading">
        <li class="mb-5" v-for="(post, index) in posts" v-bind:key="index">
          <div class="p-5 rounded bg-gray-800 flex-1">
            <h4 class="text-lg font-bold">
                <span>{{ users[post.user_id - 1].name }}</span>
            </h4>
            <p class="my-3">{{ post.content }}</p>
            <ul class="flex text-sm text-gray-500">
              <li class="mr-3">
                <span><i class="fa fa-fw fa-clock-o" aria-hidden="true"></i></span>
                <span>{{ post.post_time }}</span>
              </li>
              <li>
                <span><i class="fa fa-fw fa-calendar" aria-hidden="true"></i></span>
                <span>{{ post.post_date }}</span>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
</template>

<script>
    export default {
        props: ['post'],
        mounted() {
            axios.get('/posts').then(res => {
              this.posts = res.data.reverse().filter(post => post.band_id === this.post)
              this.isLoading = false
            })
            axios.get('/users').then(res => this.users = res.data)
        },
        data: function () {
            return {
                posts: ``,
                users: ``,
                isLoading: true
            }
        }
    }
</script>
